<h1>Contact me via</h1>
<!-- <p><%= number_to_phone "5543545425" %></p>
<p><%= number_to_currency "5543545425" %></p>
<p><%= number_to_percentage "5543545425" %></p>
<p><%= number_with_delimiter "5543545425" %></p> -->
<div class="row">
  <div class="col-md-6">
<h3>
  Physical addr
</h3>
<p>Juja</p>
<h3> Phone</h3>
<p><%= number_to_phone "+254798765432" %></p>
<h3>Email</h3>
<p><a href="mailto:anericod@gmail.com?subject=Hey" "Email">email me</a></p>
</div>
<div class="col-md-6">
<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d997.2697066401344!2d37.009753929159665!3d-1.103151199949704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f46399ce61017%3A0x2be393d318186ef!2sBranix+Dry+Cleaners+%26+Laundry!5e0!3m2!1sen!2ske!4v1531657617186" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></p>

</div>
</div>